* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */

.head-cont {
    width: 100%;
}

.row {
    display: flex;
}

.nav-bar,
.white-cont,
.lilla-cont {
    width: 90%;
    margin: 0 auto;
}


.col {
    width: 50%;
}

#header .col {
    padding: 15px 0px;
}

/* JUMBO SECTION */

.col-spe {
    width: calc(100% / 3 * 2);
}

#jumbo {
    margin-top: 50px;
}

#jumbo .col {
    margin-bottom: 25px;
}

#jumbo .col-spe {
    margin-bottom: 25px;
}

#spe .col {
    margin-bottom: 0px;
}

.col,
.col-spe {
    width: 100%;
}

.card {
    width: 90%;
    margin: 0 auto;
}

.img-phone {
    transform: translate(55px, 30px);
}

/* PLANNING SECTION */

#planning .col {
    margin-top: 60px;
}

/* BENEFISTS */
#benefits .col {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* ABOUT */
#about .col {
    margin-top: 40px;
    margin-bottom: 0px;
}

/* GET STARTED */
#get-started .col {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* FOOTER */

#footer .col {
    margin-top: 30px;
    margin-bottom: 20px;
}