* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */

.head-cont {
    width: 100%;
}

.row {
    display: flex;
}

.nav-bar,
.white-cont {
    width: 80%;
    margin: 0 auto;
}

.col {
    width: 50%;
}

/* JUMBO SECTION */
/*
.col-spe {
    width: calc(100% / 3 * 2);
}

#jumbo {
    margin-top: 30px;
}

#jumbo,
.col {
    width: 100%;
    margin-bottom: 30px;
}

.tablet-jumbo,
.col {
    width: calc(100% / 3);
}
 /*



/* FINE SEZIONE HEADER */