/* TABLET */
@media screen and (min-width:768px) {

    /* JUMBOTRON*/
    .col-spe {
        margin: 10px;
        width: calc(100% / 3 * 2 - 20px);
    }

    #jumbo .col {
        margin: 10px;
        width: calc(100% / 3 - 20px);
    }

    #jumbo .col-spe .col {
        width: 100%;
    }

    .img-phone {
        transform: translate(0px, 15px);
    }

    .img-f {
        width: 60%;
    }

    .temptext-center {
        text-align: left;
    }

    .b-btn {
        width: 210px;
    }

    /* BENEFITS SECTION */

    #benefits .col {
        margin: 10px;
        width: calc(100% / 2 - 20px);
    }

    /* ABOUT SECTION */

    #about .col {
        margin: 20px;
        width: calc(100% / 2 - 40px);
    }
}


/* DESKTOP */
@media screen and (min-width:1160px) {
    .nav-bar {
        width: 1200px;
    }

    .only-mobile {
        display: none;
    }

    .only-desktop {
        display: block;
    }

    /* JUMBOTRON */

    .white-cont {
        width: 1200px;
    }

    #jumbo .col-spe .col {
        width: calc(100% / 2 - 20px)
    }

    .img-phone {
        transform: translate(20px, 15px);
    }

    .img-f {
        width: 90%;
    }

    /* PLANNING SECTION */

    .lilla-cont {
        width: 1200px;
    }

    #planning .col {
        width: calc(100% / 2 - 40px);
        margin: 20px;
    }

    /* BENEFITS SECTION */

    #benefits .col {
        margin: 10px;
        width: calc(100% / 3 - 20px);
    }
}