/* TABLET */
@media screen and (min-width:768px) {

    /* JUMBOTRON*/
    .bg-transparent {
        background-color: rgba(206, 10, 255, 0.5);
    }

    .col-spe {
        margin: 10px;
        width: calc(100% / 3 * 2 - 20px);
    }

    #jumbo .col {
        margin: 10px;
        width: calc(100% / 3 - 20px);
    }

    /* BENEFITS SECTION */

    #benefits .col {
        margin: 10px;
        width: calc(100% / 2 - 20px);
    }

    /* ABOUT SECTION */

    #about .col {
        margin: 20px;
        width: calc(100% / 2 - 40px);
    }
}


/* DESKTOP */
@media screen and (min-width:1160px) {
    .nav-bar {
        width: 1200px;
    }

    .only-mobile {
        display: none;
    }

    .only-desktop {
        display: block;
    }

    /* JUMBOTRON */

    .white-cont {
        width: 1200px;
    }

    /* PLANNING SECTION */

    .lilla-cont {
        width: 1200px;
    }

    #planning .col {
        width: calc(100% / 2 - 40px);
        margin: 20px;
    }

    /* BENEFITS SECTION */

    #benefits .col {
        margin: 10px;
        width: calc(100% / 3 - 20px);
    }
}