/* VISIBILITY */
.only-desktop {
    display: none;
}

.h-110 {
    height: 110px;
}

.h-600 {
    height: 600px;
}

.h-400 {
    height: 400px;
}

.h-1200 {
    height: 1200px;
}

.border {
    border: 2px solid black;
}


/* CLASSI BG*/
.bg-transparent {
    background-color: rgba(238, 255, 0, 0.5);
}

.bg-mainblue {
    background-color: #0084FD;
}

.bg-lightblue {
    background-color: #B5DDFF;
}

.bg-lilla {
    background-color: #9792E4;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: #333333;
}

.img-f {
    width: 80%;
}

.full-img {
    width: 100%;
}

.testimonial-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 30px auto;
    background-image: url("../img/testimonial1.jpg");
    background-size: cover;
    background-position: center;
}

.testimonial-img2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 30px auto;
    background-image: url("../img/testimonial2.jpg");
    background-size: cover;
    background-position: center;
}

.testimonial-img3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 30px auto;
    background-image: url("../img/testimonial3.jpg");
    background-size: cover;
    background-position: center;
}


/* CLASSI TEXT */

.main-text {
    font-family: Arial, Helvetica, sans-serif;
}

.w-txt {
    color: white;
}

.lilla-text {
    color: #9792E4;
}

.h-menu {
    font-size: 25px;
}

.fs-20 {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.head-list li {
    list-style: none;
    /* padding: 0px 30px; */
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: white;
}

li .h-btn {
    color: black;
}

.temptext-center {
    text-align: center;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.jumbo-icon {
    font-size: 60px;
}

.blue-text {
    color: #0084FD;
}

.gray-text {
    color: #5A6E7F;
}

.italic {
    font-style: italic;
}

/* BOX */

.direction {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.base-box {
    border-radius: 20px;
}

.end {
    justify-content: end;
}

.f-center {
    align-items: center;
}

.h-btn {
    background-color: #fff;
    padding: 15px 15px;
}

.b-btn {
    padding: 15px 45px;
}

.bradius-30 {
    border-radius: 30px;
}

.m-40 {
    margin: 40px 0px;
}

.m-30 {
    margin: 30px 0px;
}

.m-15 {
    margin: 15px 0px;
}

.p-10 {
    padding: 0px 10px;
}

.p-20 {
    padding: 20px 20px;
}

.circle {
    border-radius: 50%;
}