/* VISIBILITY */
.h-110 {
    height: 110px;
}

.h-600 {
    height: 600px;
}

.h-400 {
    height: 400px;
}

.h-1200 {
    height: 1200px;
}

.border {
    border: 2px solid black;
}


/* CLASSI BG*/
.bg-transparent {
    background-color: rgba(238, 255, 0, 0.5);
}

.bg-mainblue {
    background-color: #0084FD;
}

.bg-lightblue {
    background-color: #B5DDFF;
}

.bg-lilla {
    background-color: #9792E4;
}

.bg-white {
    background-color: white;
}

/* BOX */

.direction {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.base-box {
    border-radius: 20px;
}